/* Reset */
div#debug-toolbar,
div#debug-toolbar div,
div#debug-toolbar span,
div#debug-toolbar h1,
div#debug-toolbar img,
div#debug-toolbar a,
div#debug-toolbar ul, 
div#debug-toolbar li,
div#debug-toolbar table,
div#debug-toolbar tr,
div#debug-toolbar td,
div#debug-toolbar th {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: middle;
	background: transparent;
	line-height: 1;
}
div#debug-toolbar table {
	border-collapse: collapse;
	border-spacing: 0;
}
div#debug-toolbar :focus { outline: 0; }

/* Global */
div#debug-toolbar {
	font-family: Arial, sans-serif;
	font-size: 12px;
	color: #333;
	text-align: left;
	line-height: 12px;
}
div#debug-toolbar h1 {
	font-size: 16px;
	font-weight: bold;
	margin: 0 0 10px 10px;
	color: #eee;
	display: block;
}
div#debug-toolbar a, 
div#debug-toolbar a:hover {
  text-decoration: none;
  color: #222;
}
div#debug-toolbar .top {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	z-index: 9999;
	border-bottom: 1px solid #aaa;
	background-color: #222;
	padding-top: 5px;
}
div#debug-toolbar table {
	width: 100%;
}
div#debug-toolbar td {
	padding: 5px;
	vertical-align: top;
}
div#debug-toolbar th {
	padding: 3px 5px;
	vertical-align: top;
	background-color: #999;
	color: #eee;
	white-space: nowrap;
}
div#debug-toolbar tr.odd td { background-color: #eee; }
div#debug-toolbar tr.even td { background-color: #ddd; }
div#debug-toolbar li.odd { background-color: #eee; }
div#debug-toolbar li.even { background-color: #ddd; }
div#debug-toolbar pre { line-height: 1.3 }

/* Toolbar */
div#debug-toolbar div#toolbar {
	position: absolute;
	padding: 0 0 3px 0;
	right: 0px;
	top: 0px;
	opacity: 0.80;
	filter: alpha(opacity:80);
	z-index: 10000;
	white-space: nowrap;
	background-color: #ccc;
	line-height: 16px;
}
div#debug-toolbar div#toolbar img { vertical-align: middle; }
div#debug-toolbar div#toolbar[id] { position: fixed; }

div#debug-toolbar div#toolbar ul.menu {
	padding: 5px 5px 5px 0;
	display: inline;
}
div#debug-toolbar div#toolbar ul.menu li {
	display: inline;
	list-style: none;
	padding: 0 5px;
	border-right: 1px solid #aaa;
	cursor: pointer;
	line-height: 16px;
}
div#debug-toolbar div#toolbar ul.menu li.last { 
	padding: 0 5px 0 5px; 
	border: none;
}

/* Benchmarks */
div#debug-toolbar div#benchmarks {

}

/* SQL queries */
div#debug-toolbar div#database {

}

/* Vars & Config */
div#debug-toolbar div#vars .varmenu { margin-bottom: 10px; }
div#debug-toolbar div#vars .varmenu li {
	float: left;
	padding: 5px 5px;
	display: block;
}
div#debug-toolbar div#vars .varmenu li a { color: #eee; }
div#debug-toolbar div#vars div { clear: both; }
div#debug-toolbar div#vars ul { display: block; }
div#debug-toolbar div#vars li {
	float: none;
	display: block;
	padding: 5px 0 5px 10px;
	color: #222;
}
div#debug-toolbar div#vars pre { color: #eee; }

/* config */
div#debug-toolbar div#vars-config li pre { color: #222; }
div#debug-toolbar div#vars-config li:hover {
	background-color: #444;
	color: #eee;
}
div#debug-toolbar div#vars-config li:hover pre { color: #eee; }

/* Logs & Msgs */
div#debug-toolbar  div#log {

}
